[user]
	email = hoduckhanh2k3@gmail.com
	name = dukkhanh03
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = C:/Users/admin
